<div class="container-fluid ">
    <div class="row  ">
        <div class="card-group justify-content-center">
            
          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>

          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>


          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>
    </div>
    <div class="row  ">
      <div class="card-group justify-content-center">

          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>

          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>


          <div class="flip-box m-5">
            <div class="flip-box-inner">
              <div class="flip-box-front fotos m-4">
                <img class=" fotos" src="https://i.imgur.com/NMYZg1n.gif" alt="Card image cap">
              </div>
              <div class="row flip-box-back fotos m-4 justify-content-center">
                <p class="text-center">TESTE</p>
              </div>
            </div>
          </div>

      </div>
  </div>

</div>