@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans';
}

body {
    /*background-color: #FEE2CA;*/
    background-color:  #FEE2CA;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

main.container {
    background-color: #fdf5e6;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.submit{
    margin-right: 1.0rem;
}

.form {
    border-radius: 8px;
    margin-left: 1.5rem;
    margin-right: 0.5rem;

}

.input-field-dados-principais {
    background: transparent;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.input-field {
    background: transparent;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
}
.select-field {
    position: relative;
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-datetime-edit-month-field {
    color: grey;
}

::-webkit-datetime-edit-day-field {
    color: grey;
}

::-webkit-datetime-edit-year-field {
    color: grey;
}

::-webkit-datetime-edit-text {
    color: grey;
}

label {
    line-height: 2;
}

#genero_outro {
    display: none;
}