<div class="container-fluid ">

  <div class="row container-fluid d-flex justify-content-center m-0  ">

    <div class= "col-md-6  ">
      <div class=" mt-0 mt-3 d-flex justify-content-center"> 
        <a href="" class=" btn txt-color">Ações do Dignas</a>
        <a routerLink='/landing-page' class=" btn txt-color">Denuncias Ocultas*</a>
        <a routerLink='/formulario' class=" btn   btn-color">Denuncie aqui</a>
      </div>
      <div class="row d-flex justify-content-center mt-5  mb-5"> 
        <img class="img1" src="https://i.imgur.com/3vRUyyq.png" alt="">
      </div>
      <div class="row d-flex justify-content-center  m-5 mt-5 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nobis mollitia, incidunt atque aperiam maiores? Porro, pariatur eius ipsa nostrum aut dolore adipisci repudiandae dolores earum placeat in quam. Eum!</div>
    </div>

    <div class= "col-md-6  ">
      <div class="row d-flex justify-content-center m-5 ">
        <div class ="col-md-10  contorno  p-0 ">
           <div class=" col-md-12    bg-contorno mb-3 row d-flex justify-content-center">
             <img class="img" height=100% src="https://i.imgur.com/PgO5ZGy.png" alt="">
            </div>
        </div>
      </div>
    </div> 
  </div>
  

  <div class="container d-flex justify-content-center mb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <div class="tab-regular">
            <ul class="nav nav-tabs fonte-botton " id="myTab" role="tablist">
                <li class="nav-item " role="presentation"> 
                  <button class="nav-link active btn-resp " id="home-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="home" aria-selected="true" data-bs-target="#home">Rede<br>de apoio</button> </li>
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link btn-resp" id="profile-tab" data-bs-toggle="tab"type="button" role="tab" aria-controls="profile" aria-selected="false" data-bs-target="#profile">Cursos<br>Profissionalizantes</button> </li>
                <li class="nav-item " role="presentation"> 
                  <button class="nav-link   btn-resp" id="contact-tab" data-bs-toggle="tab" type="button " role="tab" aria-controls="contact" aria-selected="false" data-bs-target="#contact">Conscientização<br><br>  </button> </li>
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link btn-resp" id="test-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="test" aria-selected="false" data-bs-target="#test">Feed<br>de Vagas</button> </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   
                  <div class="row ">

                    <div class= "col-md-4 d-flex justify-content-center  ">
                      <img class="img-fluid" src="https://i.imgur.com/iscLzQT.png" alt="">
                    </div>
                
                    <div class= "col-md-8  ">
                      <div class="row d-flex justify-content-center m-5 ">
                         
                          <h3>Tab Heading Content 1</h3>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero doloribus deserunt earum, facere laborum quod. Nostrum laboriosam corporis provident pariatur adipisci magnam vel reiciendis, optio dolor modi a. Magnam, velit.</p>
                      
                      </div>
                    </div> 
                
                  </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3>Tab Content 2</h3>
                    <p>Integer malesuada nunc vel risus commodo. Enim eu turpis egestas pretium aenean pharetra magna. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Diam vulputate ut pharetra sit amet. At ultrices mi tempus imperdiet.</p>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <h3>Tab Heading Content 2</h3>
                    <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Cursus euismod quis viverra nibh cras pulvinar mattis. Amet risus nullam eget felis eget nunc lobortis mattis. Lacus viverra vitae congue eu. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Est placerat in egestas erat imperdiet sed euismod.</p>
                </div>
                <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab">
                  <h3>Tab Heading Content 3</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem odit nihil ipsam cum, impedit explicabo praesentium nostrum et sit ducimus quisquam iste dolore aspernatur facere ullam placeat, at assumenda eligendi.</p>
              </div>
            </div>
        </div>
    </div>    
  </div>


